<%- model_class = Company -%>

<div class="container-fluid" ng-controller="CompaniesSelectSheetController">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th><%= model_class.human_attribute_name(:name) %></th>
          <th><%= model_class.human_attribute_name(:contact) %></th>
          <th><%= model_class.human_attribute_name(:phone) %></th>
          <th><%= model_class.human_attribute_name(:email) %></th>
          <th><%= model_class.human_attribute_name(:address) %></th>
          <th>
            <div class="btn-group">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#packages-select-sheet">Add To</button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="{{ company.selected | active }}" ng-repeat="company in companies">
          <td>
            <input type="checkbox" ng-model="company.selected" ng-change="companySelectionChanged()">
          </td>
          <td>{{ company.name }}</td>
          <td>
            <select ng-init="company.selectedContact = company.contacts[0]" ng-model="company.selectedContact" ng-options="contact.full_name for contact in company.contacts"></select>
          </td>
          <td>{{ company.selectedContact.full_name }}</td>
          <td>{{ company.selectedContact.email }}</td>
          <td>{{ company.full_street_address }}</td>
          <td>
            <a ng-href="/companies/{{ company.id }}"><i class="fa fa-info-circle fa-lg"></i></a>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <tc-pagination></tc-pagination>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
