<%= form_for([@tender, @tenderer]) do |f| %>
  <% if @tenderer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tenderer.errors.count, "error") %> prohibited this tenderer from being saved:</h2>

      <ul>
      <% @tenderer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :tender_id %>
  </div>
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.collection_select(:contact_id, Contact.all, :id, :full_name, :class => 'form-control') %>
  </div>
  <div class="field">
    <%= f.label :package_id %><br>
    <%= f.collection_select(:package_id, Package.all, :id, :name, :class => 'form-control') %>
  </div>
  <div class="field">
    <%= f.label :quoting %><br>
    <%= f.check_box :quoting %>
  </div>
  <div class="field">
    <%= f.label :quote_price %><br>
    <%= f.text_field :quote_price %>
  </div>
  <div class="field">
    <%= f.label :quote_notes %><br>
    <%= f.text_field :quote_notes %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit 'Send'%>
  </div>
<% end %>
