<%- model_class = Tenderer -%>

<% content_for :header do %>
  <%= render partial: "layouts/header", locals: {active_tab: model_class} %>
<% end %>

<% content_for :content do %>
  <div id="navigation-view">
    <div id="navigation-bar" class="container-fluid">
      <div class="row">
        <div class="col-xs-3">
          <h3 style="margin-top: auto;"><%= @tender.name.capitalize %></h3>
        </div>
        <div class="col-xs-5">
          <%= render partial: "tenders/tab_bar", locals: {active_tab: model_class.model_name.human.pluralize.titleize, tender: @tender} %>
        </div>
        <div class="col-xs-4">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
              <%= link_to new_tender_tenderer_path, class: "btn", title: "Add Tenderer", data: { toggle:"tooltip", placement:"bottom" } do %>
                <i class="fa fa-plus fa-3x"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="custom-view">
      <%= render partial: "search_bar", locals: {tender: @tender} %>
      <div class="container-fluid" ng-controller="TenderersListController" ng-init="tender_id = <%= @tender.id %>;">
        <div class="panel panel-default">
          <div id="action-bar" class="panel-heading">
            <div class="row {{ tenderers | filter: {selected:true} | length | display }}">
              <div class="col-xs-11 col-xs-offset-1">
                <div class="btn-group">
                  <a herf="#" class="btn btn-primary {{ tenderers | filter: {selected:true} | length | disabled }}" ng-click="invite()">Invite</a>
                </div>
                <div class="btn-group">
                  <a herf="#" class="btn btn-primary {{ tenderers | filter: {selected:true} | length | disabled }}" ng-click="sendPackage()">Send Package</a>
                </div>
                <div class="btn-group">
                  <a herf="#" class="btn btn-primary {{ tenderers | filter: {selected:true} | length | disabled }}" ng-click="newMail()">Send Massage</a>
                </div>
              </div>
            </div>
            <div class="row {{ tenderers | filter: {selected:true} | length | reverse | display }}">
              <div class="col-xs-2 col-xs-offset-1">
                <strong>Company</strong>
              </div>
              <div class="col-xs-2">
                <strong>Package</strong>
              </div>
              <div class="col-xs-2">
                <strong>Contact</strong>
              </div>
              <div class="col-xs-2">
                <strong>Phone</strong>
              </div>
              <div class="col-xs-2">
                <strong>Status</strong>
              </div>
            </div>
          </div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="tenderer in tenderers" ng-class="{ 'list-group-item-warning': tenderer.selected }">
            <div>
              <div class="row">
                <div class="col-xs-1">
                  <input type="checkbox" ng-model="tenderer.selected">
                </div>
                <div class="col-xs-2">
                  {{ tenderer.company.name }}
                </div>
                <div class="col-xs-2">
                  {{ tenderer.package.name }}
                </div>
                <div class="col-xs-2">
                  {{ tenderer.contact.full_name }}
                </div>
                <div class="col-xs-2">
                  {{ tenderer.contact.phone }}
                </div>
                <div class="col-xs-2">
                  <span class="label {{ tenderer.status.human_short | status }}" title="{{ tenderer.status.human }}" data-toggle="tooltip" data-placement="bottom">{{ tenderer.status.human_short }}</span>
                </div>
                <div class="col-xs-1">
                  <a class="btn btn-sm" data-toggle="collapse" href="#tenderer-{{ tenderer.id }}"><i class="fa fa-caret-down fa-lg"></i></a>
                </div>
              </div>
              <div id="tenderer-{{ tenderer.id }}" class="collapse">
                <%= render partial: 'summary' %>
              </div>
            </div>
            </li>
            <li class="list-group-item">
            <div class="row">
              <div class="col-lg-2 col-lg-offset-5">
                <tc-pagination></tc-pagination>
              </div>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%= render partial: 'calls/new_call_box' %>
    <%= render partial: 'new_mail_window' %>
  </div>
<% end %>

<%= render template: "layouts/app" %>
