<%- model_class = Tenderer -%>

<% content_for :header do %>
  <%= render partial: "layouts/header", locals: {active_tab: model_class} %>
<% end %>

<% content_for :content do %>
  <div id="navigation-view">
    <div id="navigation-bar" class="container-fluid">
      <div class="row">
        <div class="col-xs-3">
          <div class="btn-toolbar pull-left" role="toolbar">
            <div class="btn-group">
              <%= link_to tender_tenderers_path(@tenderer.tender), class: 'btn', title: "Back", data: { toggle:"tooltip", placement:"bottom" } do %>
                <i class="fa fa-chevron-left fa-3x"></i>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-9">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
              <%= link_to edit_tenderer_path(@tenderer) do %>
                <i class="fa fa-pencil-square-o fa-3x"></i>
              <% end %>
            </div>
            <div class="btn-group">
              <%= link_to @tenderer, :method => 'delete', title: "Delete Tenderer", data: { toggle:"tooltip", placement:"bottom" }, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
                <i class="fa fa-trash-o fa-3x"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="content" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td class="col-md-3">
                    <h4>Basic</h4>
                  </td>
                  <td class="col-md=9">
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:tender_id) %></b></dt>
                      <dd><%= @tenderer.tender.name %></dd>
                    </dl>
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:company_id) %></b></dt>
                      <dd><%= @tenderer.company.name %></dd>
                    </dl>
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:contact_id) %></b></dt>
                      <dd><%= @tenderer.contact.full_name %></dd>
                    </dl>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-3">
                    <h4>Quote</h4>
                  </td>
                  <td class="col-md=9">
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:will_quote) %></b></dt>
                      <dd><%= @tenderer.will_quote %></dd>
                    </dl>
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:quote_price) %></b></dt>
                      <dd><%= @tenderer.quote_price %></dd>
                    </dl>
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:quote_notes) %></b></dt>
                      <dd><%= @tenderer.quote_notes %></dd>
                    </dl>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-3">
                    <h4>Detail</h4>
                  </td>
                  <td class="col-md=9">
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:package_sent_at) %></b></dt>
                      <dd><%= @tenderer.package_sent_at %></dd>
                    </dl>
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:package_downloaded_at) %></b></dt>
                      <dd><%= @tenderer.package_downloaded_at %></dd>
                    </dl>
                    <dl>
                      <dt><b><%= model_class.human_attribute_name(:notes) %></b></dt>
                      <dd><%= @tenderer.notes %></dd>
                    </dl>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-3">
                    <h4>Call Histroy</h4>
                  </td>
                  <td class="col-md=9">
                    <dl>
                      <dd>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <td>From</td>
                              <td>Note</td>
                              <td>Called at</td>
                            </tr>
                          </thead>
                          <tbody>
                            <% @tenderer.calls.each do |call| %>
                              <tr>
                                <td>
                                  <b><%= call.user.name %></b>
                                </td>
                                <td>
                                  <%= call.note %>
                                </td>
                                <td>
                                  <%= call.created_at %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      </dd>
                    </dl>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-3">
                    <h4>Activities</h4>
                  </td>
                  <td class="col-md=9">
                    <dl>
                      <dd>
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <td>Description</td>
                            </tr>
                          </thead>
                          <tbody>
                            <% @tenderer.activities.each do |activity| %>
                              <tr>
                                <td>
                                  <%= activity.human %>
                                </td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      </dd>
                    </dl>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/app" %>
