<%= form_for @client_subgroup, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @client_subgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_subgroup.errors.count, "error") %> prohibited this client_subgroup from being saved:</h2>

      <ul>
        <% @client_subgroup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :active, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :active, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :client_group_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:client_group_id, ClientGroup.all, :id, :name, :class => 'form-control') %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            client_subgroups_path, :class => 'btn btn-default' %>
 
<% end %>
