<%- model_class = ClientSubgroup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @client_subgroup.active %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @client_subgroup.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:client_group_id) %>:</strong></dt>
  <dd><%= @client_subgroup.client_group.name %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              client_subgroups_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_subgroup_path(@client_subgroup), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              client_subgroup_path(@client_subgroup),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
