<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" data-spy="affix">
        <li><a href="#window">Top</a></li>
        <li><a href="#basic">Basic</a></li>
        <li><a href="#relations">Relations</a></li>
        <li><a href="#status">Status</a></li>
        <li><a href="#address">Address</a></li>
        <li><a href="#end">End</a></li>
      </ul>
    </div>
    <div class="col-xs-4">
      <%= form_for @tender, :html => { :class => 'form-horizontal' } do |f| %>
        <% if @tender.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@tender.errors.count, "error") %> prohibited this tender from being saved:</h2>

            <ul>
              <% @tender.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div id="basic">
          <div class="form-group">
            <h1><small>Basic</small></h1>
          </div>
          <div class="form-group">
            <%= f.label :name, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :work_description, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :work_description, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <h1 class="page-header"></h1>
          </div>
        </div>

        <div id="relations">
          <div class="form-group">
            <h1><small>Relations</small></h1>
          </div>
          <div class="form-group">
            <%= f.label :client_group_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:client_group_id, ClientGroup.all, :id, :name, {}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :client_subgroup_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:client_subgroup_id, ClientSubgroup.all, :id, :name, {include_blank: 'None'}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :estimator_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:estimator_id, Employee.all, :id, :full_name, {}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :quantity_surveyor_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:quantity_surveyor_id, Employee.all, :id, :full_name, {}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :external_db_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :external_db_id, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <h1 class="page-header"></h1>
          </div>
        </div>

        <div id="status">
          <div class="form-group">
            <h1><small>Status</small></h1>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <%= f.label :active %>
              <%= f.check_box :active %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :received_at, :class => 'control-label' %>
            <div class="controls">
              <%= f.datetime_local_field :received_at, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :closing_at, :class => 'control-label' %>
            <div class="controls">
              <%= f.datetime_local_field :closing_at, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :submission_details, :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :submission_details, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :submitted_at, :class => 'control-label' %>
            <div class="controls">
              <%= f.datetime_local_field :submitted_at, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <h1 class="page-header"></h1>
          </div>
        </div>

        <div id="address">
          <div class="form-group">
            <h1><small>Address</small></h1>
          </div>
          <%= render partial: 'suburbs/address_select', locals: { f: f , addressable: @tender } %>
          <div class="form-group">
            <%= f.label :region_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:region_id, Region.all.order(:name), :id, :name, {}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :office_id, :class => 'control-label' %>
            <div class="controls">
              <%= f.collection_select(:office_id, Office.all, :id, :name, {}, { :class => 'form-control' }) %>
            </div>
          </div>
          <div class="form-group">
            <h1 class="page-header"></h1>
          </div>
        </div>

        <div id="end">
          <%= f.submit nil, :class => 'btn btn-primary' %>
        </div>

      <% end %>
    </div>
  </div>
</div>
