<%= form_for @region, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :active, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :active, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :state_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:state_id, State.all, :id, :abbreviation, :class => 'form-control') %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            regions_path, :class => 'btn btn-default' %>
 
<% end %>
