<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
      <%= form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
        <% if @employee.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

            <ul>
            <% @employee.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :active, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :active, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :first_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :last_name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :last_name, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :email, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :employment_type_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:employment_type_id, EmploymentType.all, :id, :name, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :employee_role_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:employee_role_id, EmployeeRole.all, :id, :name, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :state_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:state_id, State.all, :id, :name, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :office_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.collection_select(:office_id, Office.all, :id, :name, :class => 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :department_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :department_id, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :phone, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :phone, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :mobile, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :mobile, :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :external_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :external_id, :class => 'form-control' %>
          </div>
        </div>

        <%= f.submit nil, :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
