<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Event type</th>
      <th>Actable</th>
      <th>Actable type</th>
      <th>Performable</th>
      <th>Performable type</th>
      <th>Recorded at</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.event_type %></td>
        <td><%= activity.actable_id %></td>
        <td><%= activity.actable_type %></td>
        <td><%= activity.performable_id %></td>
        <td><%= activity.performable_type %></td>
        <td><%= activity.recorded_at %></td>
        <td><%= activity.created_at %></td>
        <td><%= activity.updated_at %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
