<p id="notice"><%= notice %></p>

<p>
  <strong>Tenderer:</strong>
  <%= @call.tenderer %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @call.contact %>
</p>

<p>
  <strong>Note:</strong>
  <%= @call.note %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @call.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @call.updated_at %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
