<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked" data-spy="affix">
        <li><a href="#window">Top</a></li>
        <%- b_attribute_groups.each do |group_label, attributes| -%>
        <li><a href="#<%= group_label %>"><%= group_label %></a></li>
        <%- end -%>
        <li><a href="#end">End</a></li>
      </ul>
    </div>
    <div class="col-xs-4">
      <%%= form_for @<%= b %>, :html => { :class => 'form-horizontal' } do |f| %>
        <%% if @<%= b %>.errors.any? %>
          <div id="error_explanation">
            <h2><%%= pluralize(@<%= b %>.errors.count, "error") %> prohibited this <%= B %> from being saved:</h2>

            <ul>
              <%% @<%= b %>.errors.full_messages.each do |msg| %>
                <li><%%= msg %></li>
              <%% end %>
            </ul>
          </div>
        <%% end %>

        <%- b_attribute_groups.each do |group_label, attributes| -%>
        <div id="<%= group_label %>">
          <div class="form-group">
            <h1><small><%= group_label.capitalize %></small></h1>
          </div>
          <%- attributes.each do |attribute| -%>
          <div class="form-group">
            <%%= f.label :<%= attribute %>, :class => 'control-label' %>
            <div class="controls">
            <%-  if attribute =~ /^(\w*)_id$/ -%>
              <%%= f.collection_select(:<%= attribute %>, <%= /^(\w*)_id$/.match(attribute)[1].camelize %>.all, :id, :name, {}, { :class => 'form-control' }) %>
            <%-  elsif attribute =~ /^(\w*)_at$/ -%>
              <%%= f.datetime_local_field :<%= attribute %>, :class => 'form-control' %>
            <%- else -%>
              <%%= f.text_field :<%= attribute %>, :class => 'form-control' %>
            <%- end -%>
            </div>
          </div>
          <%- end -%>
          <div class="form-group">
            <h1 class="page-header"></h1>
          </div>
        </div>
        <%- end -%>

        <div id="end">
          <%%= f.submit nil, :class => 'btn btn-primary' %>
        </div>
      <%% end %>
    </div>
  </div>
</div>