<%%- model_class = <%= NB %> -%>

<%% content_for :header do %>
  <%%= render partial: "layouts/header", locals: {active_tab: model_class} %>
<%% end %>

<%% content_for :content do %>
  <div id="navigation-view">
    <div id="navigation-bar" class="container-fluid">
      <div class="row">
        <div class="col-xs-3">
          <%% case @parent.class.name when <%= NA %>.name %>
            <h3 style="margin-top: auto;"><%%= @parent.name.capitalize %></h3>
          <%% else %>
            <h3 style="margin-top: auto;"><%%= model_class.model_name.human.pluralize.titleize %></h3>
          <%% end %>
        </div>
        <div class="col-xs-5">
          <%% case @parent.class.name when <%= NA %>.name %>
            <%%= render partial: "<%= as %>/tab_bar", locals: {active_tab: model_class.model_name.human.pluralize.titleize, <%= a %>: @parent} %>
          <%% else %>
          <%% end %>
        </div>
        <div class="col-xs-4">
          <%% case @parent.class.name when <%= NA %>.name %>
            <div class="btn-toolbar pull-right" role="toolbar">
              <div class="btn-group">
                <%%= link_to new_<%= a %>_<%= as %>_<%= b %>_path, class: 'btn', title: "Add <%= B %>", data: { toggle:"tooltip", placement:"bottom" } do %>
                  <i class="fa fa-plus fa-3x"></i>
                <%% end %>
              </div>
            </div>
          <%% else %>
          <%% end %>
        </div>
      </div>
    </div>
    <div id="custom-view">
      <div class="container-fluid">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <%- b_attributes.each do |attribute_name| -%>
                <th><%%= model_class.human_attribute_name(:<%= attribute_name %>) %></th>
                <%- end -%>
              </tr>
            </thead>
            <tbody>
              <%% case @parent.class.name when <%= NA %>.name %>
                <%% @<%= bs %>.each do |<%= b %>| %>
                <tr>
                <%- b_attributes.each do |attribute_name| -%>
                  <td><%%= <%= b %>.<%= attribute_name %> %></td>
                <%- end -%>
                  <td>
                    <%%= link_to <%= a %>_<%= b %>_path(<%= b %>, { <%= a %>_id: @parent}) do %>
                      <i class="fa fa-info-circle fa-lg"></i>
                    <%% end %>
                  </td>
                </tr>
                <%% end %>
              <%% else %>
                <%% @<%= bs %>.each do |<%= b %>| %>
                <tr>
                <%- b_attributes.each do |attribute_name| -%>
                  <td><%%= <%= b %>.<%= attribute_name %> %></td>
                <%- end -%>
                  <td>
                    <%%= link_to 'Delete', <%= b %>, :method => 'delete', class: "btn btn-danger", title: "Delete <%= B %>", data: { toggle:"tooltip", placement:"bottom" }, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
                  </td>
                </tr>
                <%% end %>
              <%% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%% end %>

<%%= render template: "layouts/app" %>
