<%%- model_class = <%= "#{namespace}::#{model_class}" %> -%>

<%% content_for :header do %>
  <%%= render partial: "layouts/header", locals: {active_tab: model_class} %>
<%% end %>

<%% content_for :content do %>
  <div id="navigation-view">
    <div id="navigation-bar" class="container-fluid">
      <div class="row">
        <div class="col-xs-5">
          <h3 style="margin-top: auto;"><%%= t('.title', :default => model_class.model_name.human.pluralize.titleize) %></h3>
        </div>
        <div class="col-xs-7">
          <div class="btn-toolbar pull-right" role="toolbar">
            <div class="btn-group">
              <%%= link_to t('.new', :default => t("helpers.links.new")), new_<%= "#{namespace}_#{model_class}".underscore %>_path, :class => 'btn btn-primary', title: "New Tender", data: { toggle:"tooltip", placement:"bottom" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="custom-view">
      <div class="container-fluid">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <%- model_attributes.each do |name| -%>
                <th><%%= model_class.human_attribute_name(:<%= name %>) %></th>
                <%- end -%>
              </tr>
            </thead>
            <tbody>
              <%% <%= "@#{model_instances}" %>.each do |<%= model_instances.singularize %>| %>
              <tr>
              <%- model_attributes.each do |name| -%>
                <td><%%= <%=model_instances.singularize %>.<%= name %> %></td>
              <%- end -%>
                <td>
                  <%%= link_to <%= "#{namespace}_#{model_class}".underscore %>_path(<%= model_instances.singularize %>) do %>
                    <i class="fa fa-info-circle fa-lg"></i>
                  <%% end %>
                </td>
              </tr>
              <%% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<%% end %>

<%%= render template: "layouts/app" %>
