<%- model_class = Document -%>

<% content_for :header do %>
  <%= render partial: "layouts/header", locals: {active_tab: model_class} %>
<% end %>

<% content_for :content do %>
  <div id="navigation-view" ng-controller="NewDocumentController" ng-init="tender_id = <%= @tender.id %>; tender.name = '<%= @tender.name %>';">
    <div id="navigation-bar" class="container-fluid">
      <div class="row">
        <div class="col-xs-5">
          <div class="btn-toolbar pull-left" role="toolbar">
            <div class="btn-group">
              <%= link_to tender_documents_path(@tender), class: 'btn', title: "Back", data: { toggle:"tooltip", placement:"bottom" } do %>
                <i class="fa fa-chevron-left fa-3x"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="expander">
      <div class="expander-item aligner">
        <div class="aligner-item">
          <h1 class="text-center">Drop documents on page to upload
            <br />
            <small>or <button id="clickable" class="btn btn-default btn-lg">Choose files</button></small>
          </h1>
          <div id="previews" class="dropzone-previews"></div>
          <div class="aligner">
            <div class="btn-toolbar aligner-item" role="toolbar" ng-class="{ hidden: !dropzone.files.length }">
              <div class="btn-group">
                <div class="field btn">
                  <select ng-model="selectedDocumentType" ng-options="documentType.name for documentType in documentTypes"></select>
                </div>
              </div>
              <div class="btn-group">
                <button id="submit-all" class="btn btn-primary btn-lg" ng-click="upload()">Upload</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/app" %>
