<% content_for :header do %>
  <%= render partial: "layouts/header", locals: {active_tab: Suburb} %>
<% end %>

<% content_for :navigation_left do %>
<div class="pull-left">
  <%= link_to suburbs_path do %>
    <i class="fa fa-chevron-left fa-3x"></i>
  <% end %>
</div>
<% end %>

<% content_for :navigation_title do %>
  <%= render partial: "layouts/navigation_title", locals: {title: t('.title', :default => Suburb.model_name.human.titleize)} %>
<% end %>

<% content_for :navigation_actions do %>
  <div class="btn-toolbar pull-right" role="toolbar">
    <div class="btn-group">
      <%= link_to edit_suburb_path(@suburb) do %>
        <i class="fa fa-pencil-square-o fa-3x"></i>
      <% end %>
    </div>
    <div class="btn-group">
      <%= link_to @suburb, :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } do %>
        <i class="fa fa-trash-o fa-3x"></i>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :content do %>
<div id="content" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:name) %></strong></td>
              <td><%= @suburb.name %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:state_id) %></strong></td>
              <td><%= @suburb.state.name %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:postcode) %></strong></td>
              <td><%= @suburb.postcode %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:latitude) %></strong></td>
              <td><%= @suburb.latitude %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:longitude) %></strong></td>
              <td><%= @suburb.longitude %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:created_at) %></strong></td>
              <td><%= @suburb.created_at %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:updated_at) %></strong></td>
              <td><%= @suburb.updated_at %></td>
            </tr>
            <tr>
              <td><strong><%= Suburb.human_attribute_name(:postal_region) %></strong></td>
              <td><%= @suburb.postal_region %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= render template: "layouts/app" %>
