<%= form_for([@companies_trade.company, @companies_trade]) do |f| %>
  <% if @companies_trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companies_trade.errors.count, "error") %> prohibited this companies_trade from being saved:</h2>

      <ul>
      <% @companies_trade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :company_id %>
  </div>
  <div class="field">
    <%= f.collection_select(:trade_id, Trade.all, :id, :name, :class => 'form-control') %>
  </div>
  <div class="actions">
    <%= f.submit 'Add' %>
  </div>
<% end %>
