<h1>Listing companies_trades</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Trade</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies_trades.each do |companies_trade| %>
      <tr>
        <td><%= companies_trade.company %></td>
        <td><%= companies_trade.trade %></td>
        <td><%= companies_trade.created_at %></td>
        <td><%= companies_trade.updated_at %></td>
        <td><%= link_to 'Show', companies_trade %></td>
        <td><%= link_to 'Edit', edit_companies_trade_path(companies_trade) %></td>
        <td><%= link_to 'Destroy', companies_trade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Companies trade', new_companies_trade_path %>
